
/* Laptop Device :1600 */
@media (min-width: 1600px) and (max-width: 2300px){
  
    
}

/* Laptop Device :1400 */
@media (min-width: 1400px) and (max-width: 1600px){
   
  
}

/* Laptop Device :1200 */
@media (min-width: 1200px) and (max-width: 1399px){
  
}

/* Normal desktop :992px */
@media (min-width: 992px) and (max-width: 1199px) {   
    
}

/* Tablet desktop :768px */
@media (min-width: 768px) and (max-width: 991px) {    
    
} 

/* small mobile :320px */
@media (max-width: 767px) {
    .halph-width {
        width: 90%;
        float: none;
    }
    section{
        padding: 30px 0;
    }
    .services-box {
        width: 90%;
        float: none;
    }
    
    input[type="text"] {
        width: 85%;
    }
    
    .exprince-full {
        margin-bottom: 30px;
    }
} 
/* Large Mobile :480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {

    
}













